.card-body{
    width: 350px;
    overflow: hidden;
    text-align: center;
    z-index: 2;
    margin: 20px auto;
    background-color: lavender;
}

.form-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}